@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";

@font-face {
  font-family: Innter;
  src: url(./inter.ttf);
}

body {
  font-family: Innter;
  color: #fff;
}

@font-face {
  font-family: popSemibold;
  src: url(./Poppins-SemiBold.ttf);
}

.fontPopSemibold {
  font-family: popSemibold;
}

.tower {
  border-radius: 0.6vw;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.72) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: popSemibold;
}

@media screen and (min-width: 767px) {
  .CardFounder {
    width: 29vw;
  }
  .img {
    width: 8vw;
  }
  .CardFounderPrice {
    padding: 0.3vw 0.8vw;
  }
  .CardFounderDescription {
    height: 5vw;
  }
}

.wallet-adapter-button-trigger {
  background: white !important;
  color: #000 !important;
  border-radius: 9999px !important;
  font-size: 1vw !important;
  padding: 0vw 2vw !important;
}

@media screen and (max-width: 767px) {
  .wallet-adapter-button-trigger {
    font-size: 3vw !important;
    padding: 0 6vw !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
